version: "3.9"

x-backend_base: &backend_base
  image: fastapi-backend
  build:
    context: ./backend
  env_file: .env
  depends_on:
    - db
    - redis
  restart: always

services:
  db:
    container_name: database
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      postgres
      -c shared_buffers=64MB
      -c work_mem=4MB
      -c maintenance_work_mem=32MB
      -c max_connections=50
    restart: always

  redis:
    image: redis:7
    container_name: redis
    restart: always

  backend:
    <<: *backend_base
    container_name: backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8001:8000"

  celery_worker:
    <<: *backend_base
    container_name: celery_worker
    command: celery -A main.celery_app worker --loglevel=info --concurrency=1

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    env_file:
      - .env
    environment:
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "5050:80"
    depends_on:
      - db
    restart: always

volumes:
  postgres_data:
